<div class="row">
  <div class="col-md-6 offset-md-3">
    <h1 class="text-center">経歴書一覧</h1>
  <table class="mt-5" width="500" border="1">
    <tr>
      <th>id</th>
      <th>名前</th>
      <th>年齢</th>
      <th>編集</th>
    </tr>
    <% @resumes.each do |resume| %>
    <tr>
      <td><%= resume.id %></td>
      <td><%= resume.name %></td>
      <td><%= resume.age %></td>
      <td><%= link_to "詳細",resume %></td>
    </tr>
    <% end %>
  </table>
  </div>
</div>
